body {
    margin: 0;
    font-family: Arial;
    background-color: whitesmoke;
  }
  .nav--fixed{
    height: 70px;
    width: 100%;
    background: white;
    border-bottom: 1px solid grey;
  }
  .button--primary {
    color:white;
    padding: 1em;
    text-align: center;
  }

.h1{
    font-family: font-display;
    font-size: 4.8rem;
    color: text-color-heading;
    line-height: 1.05;
    margin-bottom: 2rem;
}
.p{
    max-width: 34rem;
    margin-right: auto;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: normal;
    font-family: font-body;
    line-height: 1.5;
    color: text-color-paragraph;
}

.button--primary{

    background: white;
    color: #1c299d;
    box-shadow: 1px #9ba0d3;

    &:hover{
        box-shadow: 2px blue;
    }
    &:focus{
        background-color: blue;
        color:white;
        outline: 0;
        box-shadow: 2px blue;
    }
}

-------


.h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.p{
    font-size: 1rem;
    margin-bottom: 2rem;
}


.logo-ticketmaster{
    padding: 2rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}
.logo-airbnb{
    padding: 2rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.logo-target {
    padding: 2rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.logo-capitalone {
    padding: 2rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.logo-oracle {
    padding: 2rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

.footer{
    padding: 5rem 0;
    border-top: 1px solid grey;
    background: white;    
}